:root {
	--main-white: rgb(245, 245, 245);
	--second-white: rgb(245, 245, 245, 0.9);
	--third-white: rgb(228, 228, 228);
	--main-blue: rgb(32, 144, 220);
	--text-color: rgb(103, 103, 103);
	--text-active-color: rgb(70, 70, 70);
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Segoe UI', sans-serif;
}

nav {
	width: auto;
	height: 7.5vh;
	background-color: var(--main-white);
	color: var(--text-active-color);
	display: grid;
	grid-template-columns: 100px auto auto auto;
	text-align: center;
	border-bottom: 1px solid silver;
}
nav > h1 {
	height: 100%;
	width: 100%;
	cursor: pointer;
	display: flex;
	place-items: center;
	justify-content: center;
}
nav > h1:hover {
	color: var(--main-blue);
}
nav > div {
	height: 100%;
	margin-top: 1vh;
	font-size: 20px;
}
nav label {
	margin-right: 10px;
}
nav select {
	background-color: var(--main-white);
	font-size: 0.8em;
	font-weight: bold;
	padding: 5px;
	color: var(--text-active-color);
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
nav select:hover {
	color: var(--main-blue);
}
nav option {
	color: var(--main-blue);
}
nav .nav-zoom p {
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	font-size: 1rem;
	margin-right: 20px;
}
nav .nav-zoom p:hover {
	color: var(--main-blue);
}
nav .nav-zoom p:active {
	transform: scale(0.95);
}
nav .addpage-div input {
	background-color: var(--second-white);
	border: none;
	color: var(--text-color);
	border-bottom: 1px solid var(--text-active-color);
	padding: 5px;
	outline: none;
}
nav .addpage-div button {
	background-color: var(--second-white);
	border: none;
	color: var(--text-color);
	border-bottom: 1px solid var(--text-active-color);
	padding: 5px;
	outline: none;
	font-weight: bold;
}
nav .addpage-div button:hover {
	color: var(--main-blue);
	cursor: pointer;
}
nav .addpage-div button:focus {
	color: var(--main-blue);
}

.three-section {
	display: grid;
	grid-template-columns: 130px auto 280px;
	height: 92.5vh;
}
.toolbar {
	width: 100%;
	height: auto;
	overflow: hidden;
	border-right: 1px solid silver;
	display: grid;
	grid-template-rows: 80% 20%;
}
.tools {
	overflow: scroll;
}
.toolbar p {
	display: block;
	text-align: center;
	border: none;
	color: var(--text-active-color);
	background-color: white;
	font-weight: bold;
	width: 100%;
	padding: 15px 0px;
	cursor: pointer;
}
.toolbar p:hover {
	color: var(--main-blue);
}

.toolbar p:active {
	font-weight: normal;
}

.layers {
	position: absolute;
	left: 130px;
	width: 150px;
	height: 92vh;
	overflow: scroll;
	background-color: var(--main-white);
	z-index: 1;
}

.main-div {
	background-color: var(--third-white);
	overflow: hidden;
	text-align: center;
	width: 100%;
	height: 100%;
}
.main-div .full-width {
	height: 92.5vh;
}
.main-div .full-width p {
	padding-top: 10px;
}
.main-div .pages-div {
	background-color: white;
	min-height: 300px;
	margin: 0px auto;
	background-color: var(--third-white);
	transform: scale(0.8);
}
.main-div .small {
	width: 540px;
	background-color: white;
	box-shadow: 2px 2px 15px grey;
}
.main-div .medium {
	width: 720px;
	background-color: white;
	box-shadow: 2px 2px 15px grey;
}
.main-div .large {
	width: 960px;
	background-color: white;
	box-shadow: 2px 2px 15px grey;
}
.main-div .x-large {
	width: 1140px;
	background-color: white;
	box-shadow: 2px 2px 15px grey;
}

.propertybar {
	text-align: center;
	border-left: 1px solid var(--text-color);
}
.propertybar p {
	margin: 20px auto;
	width: auto;
	border-bottom: 2px solid var(--text-color);
	padding-bottom: 20px;
	font-weight: bolder;
	color: var(--text-active-color);
}

/* width */
::-webkit-scrollbar {
	width: 5px;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #aaaaaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #999999;
}
